/* If the browser window is 600px or smaller, the background color will be lightblue: */
@media only screen and (max-width: 425px) {

            
    
    .container{
        width: 300px;
        gap: 10px;
        padding: 4px;
    }
    .options{
        
        width: 100%;
       height: 40px;
        
        
    }
    .toggle-container{
        width: 35px;
        height: 20px;
    }
    .toggle-slider{
        width: 20px;
        height: 20px;
    }
    .subContainer{
        width: 50%;
        
        
        height: 100%;
        gap: 4px;
       
        padding-bottom: 5px;
    }
    .randomButton {
        margin-top: 1px;
        min-width: fit-content;
        padding: 1px;
    

    }
    #category{
        height: 20px;
        padding: 1px;
    }
.quoteContainer{
    width : 100%;
    
   min-height: fit-content;
    margin-top: 5px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding:10px;
}
.quoteButtoncontainer{
    width: 100%;
   
}
.fontButtton{
    display: hidden;
}
.commonButtonStyle{
    border-radius: 4px;
    padding: 2px;
    border: 1px;
   
    min-width: fit-content;
    
}
#button_1{
    width: 30px;

    min-width: fit-content;
    
   
}
#quote{
    font-size: 15px;
    
    
}
#previousButton{
    width: 30px;
    padding: 4px;

}
#nextButton{
    width: 30px;
    padding: 4px;
}
.searchButton{
    padding: 1px;
}
}