* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    background-color: #ebd39d;

    min-height: 100vh;

}

.container {
    background-color: #dfb665;
    /* background-color: rgba(224, 166, 79, 0.79); */
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-wrap: wrap;
    gap: 25px;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
    align-items: center;
    /* justify-content: space-between; */

}

.toggleWrapper {
    width: 50%;


}

.randomButton {
    min-width: fit-content;
    background-color: #f4eacd;

}

#category {
    width: 80px;


}

.subContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    width: 50%;
}


.quoteContainer {
    padding-top: 30px;
    display: flex;
    align-items: center;

    height: 120px;
    border-radius: 10px;
    padding: 10px;
    /* position: relative; */

    margin-top: 10px;

}

#quote {
    font-size: 30px;
    color: azure;
    font-weight: 500;
    word-spacing: 1px;
    font: bold;

}



.quoteButtoncontainer {
    justify-content: center;
    display: flex;
    gap: 2px;
    margin-top: 20px;
    /* position: relative; */
    margin-bottom: 15px;


}


#previousButton {
    width: 100px;
    padding: 5px;
    background-color: #f4eacd;
    color: #381a10;



}

#nextButton {
    width: 70px;
    padding: 5px;
    background-color: #f4eacd;
    color: #381a10;


}

#button_1 {

    margin-top: 20px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    /* background-color:   #f8a202; */
    background-color: #c5842d;
}

#category {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;


}

#quote {
    font-size: 20px;
    text-align: center;
    color: #faf6ec;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}




body.active {
    background: #2b2b2b;
}

#container.active {
    background-color: #968b7043;
}

.commonButtonStyle {
    border-radius: 8px;
    padding: 10px;
    border: 1px;

}

#font-button1 {
    font-size: 5px;
}

#font-button2 {
    font-size: 10px;

}

#font-button3 {
    font-size: 15px;
}

#font-button4 {
    font-size: 20px;
}