* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;

    min-height: 100vh;

}

.container {
    background-color: rgba(224, 166, 79, 0.79);
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
    align-items: center;
    /* justify-content: space-between; */
   
}
.toggleWrapper{
    width: 50%;
    
    
}

.randomButton {
    min-width: fit-content;
   
}
#category{
    width: 80px;
   

}

.subContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    width: 50%;
}

.quoteContainer {
    padding-top: 30px;
    display: flex;
    align-items: center;
    
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    
}

#quote {
    font-size: 30px;
    color:azure;
    font-weight: 500;
    word-spacing: 1px;
    font: bold;
    
}

.font-2xl {
    font-size: 40px;
}
.fontButton{
    position: absolute;
    right: 20px;
    bottom: 5px;

}
.searchButton{
    padding: 5px;
}



.quoteButtoncontainer {
    justify-content: center;
    display: flex;
    gap: 2px;
    margin-top: 20px;
}

#previousButton {
    width: 100px;
    padding: 5px;
   
    
    
}

#nextButton {
    width: 70px;
    padding: 5px;
    
}

#button_1 {

    margin-top: 20px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    background-color:   #f8a202;
}

#category {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    

}

#quote {
    font-size: 20px;
    text-align: center;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}




body.active {
    background: #2b2b2b;
}
#container.active{
  background-color: #968b7043;
}

.commonButtonStyle {
    border-radius: 8px;
    padding: 10px;
    border: 1px;
    
}